<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> Ticket CRM | Road__Map_ </title>
    <link rel="stylesheet" href="../assets/css/formpage.css">
    <link rel="stylesheet" href="../assets/css/testtt.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx'><span><img src="images/logo.png" alt=""></span></i>
      <span class="logo_name">Road__Map_</span>
    </div>

        <div class="menu">
            <div class="siidebar item">
                <a href="#" class="dropdown-link sub-menu"><i class="bx bx-grid-alt"></i>All Tickets List
                    <i class="bx bx-chevron-down"></i>
                </a>
                <ul class="Tdropdown">
                <li><a href="#">Open Tickets</a></li>
                <li><a href="#">Remainder Tickets</a></li>
                <li><a href="#">Escalated Tickets</a></li>
                <li><a href="#">Closed Tickets</a></li>
                </ul>
            </div>

      <div class="item"><a href=""><i class="bx bx-box"></i>New Tickets
        <i class="bx bx-chevron-down dropdown"></i>
      </a></div>
      <div class="item"><a href="testttt.html"><i class="bx bx-pie-chart-alt-2"></i>My Bucket
        <i class="bx bx-chevron-down dropdown"></i>
      </a>
    </div>
      <div class="item"><a href=""><i class="bx bx-user"></i>My Profile</a>
    </div>
      <div class="item logout"><a href=""><i class="bx bx-log-out"></i>Log Out</a>
    </div>
    </div>


  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Ticket Complains</span>
      </div>
      <div class="profile-details">
        <i class='dropdown' >

      </i>
        <!-- <img src="../assets/images/profile.jpg" alt=""> -->
        <span class="admin_name">DevOps Project</span>

      </div>
    </nav>
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">All Ticekts</div>
            <div class="number">55</div>
            <div class="indicator">
          <i class='bx ticket t1'><img src="../assets/images/ticket.png" alt=""></i>
        </div>
          </div>
          <i class='bx'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Pending</div>
            <div class="number">38</div>
            <div class="indicator">
              <i class='bx ticket t2'><img src="../assets/images/ticket.png" alt=""></i>
            </div>
          </div>
          <i class='bx' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Resolved</div>
            <div class="number">2</div>
            <div class="indicator">
              <i class='bx ticket t3'><img src="../assets/images/ticket.png" alt=""></i>
            </div>
          </div>
          <i class='bx' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Expired</div>
            <div class="number">15</div>
            <div class="indicator">
              <i class='bx ticket t4'><img src="../assets/images/ticket.png" alt=""></i>
            </div>
          </div>
          <i class='bx' ></i>
        </div>
      </div>

      
      <form class="form">
          <p class="title">Complaint Form </p>
          <!-- <p class="message">Signup now and get full access to our app. </p> -->

              <label>
                  <input required="" placeholder="" type="text" class="input">
                  <span>Client / Employee name</span>
              </label>
      
              <label>
                  <input required="" placeholder="" type="text" class="input">
                  <span>Client ID / Employee ID</span>
              </label>

                  
          <label>
              <input required="" placeholder="" type="number" class="input">
              <span>Mobile no</span>
          </label> 
              
          <label>
              <input required="" placeholder="" type="email" class="input">
              <span>Email ID</span>
          </label>
          <label>
              <input required="" placeholder="" type="text" class="input">
              <span>Complaint type</span>
          </label>
          <label>
              <input required="" placeholder="" type="password" class="input">
              <span>Description</span>
          </label>
          <button class="submit">Submit</button>
         
      </form>

      <script src="../assets/js/function.js"></script>
</body>
</html>