<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
   
<div class="container">
    <div class="form_area">
        <p class="title">Login</p>
        <form action="/login" method="post">
       
            <div class="form_group">
                <label class="sub_title" for="email">Email</label>
                <input placeholder="Enter your email" id="email" class="form_style" type="email" required name="Email">
            </div>
            <div class="form_group">
                <label class="sub_title" for="password">Password</label>
                <input placeholder="Enter your password" id="password" class="form_style" type="password" required name="Password">
            </div>
            <div>
                <button class="btn">SIGN UP</button>
                
            </a></div><a class="link" href="">
        
    </a></form></div><a class="link" href="">
</a></div>
</body>
</html>